body {
  margin: 0;
  font-family: Arial;
  background: #0f172a;
  color: white;
  text-align: center;
}

button {
  padding: 15px;
  margin: 10px;
  border: none;
  border-radius: 10px;
  background: #22c55e;
  color: black;
  font-weight: bold;
}